<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Restaurant Signup Page</h1>
          <h5>Signup for Free!</h5>
          <hr />
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input
              formControlName="name"
              placeholder="Eg. Hugh Janus"
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile No.</label>
            <input
              formControlName="mobile"
              placeholder="9811..."
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input
              formControlName="email"
              placeholder="xyz@what.com"
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              formControlName="password"
              placeholder="*******"
              type="password"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
        <a style="color: green; margin-top: 10px" routerLink="/login"
          >Existing User? Click to Login!</a
        >
      </div>
    </div>
  </div>
</div>
